@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$p-font: 'Lexend Deca', sans-serif;
$h-font: 'Big Shoulders Display', cursive;

$sedans-bg: hsl(31, 77%, 52%);
$suvs-bg: hsl(184, 100%, 22%);
$luxury-bg: hsl(179, 100%, 13%);
$p-color: hsla(0, 0%, 100%, 0.65);
$title: hsl(0, 0%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    display: grid;
    place-items: center;
    p {
        color: $p-color;
        font-family: $p-font;
        font-weight: 400;
    }
    h1 {
        color: $title;
        font-family: $h-font;
    }
}


container {
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    border-radius: 12px;
    div {
        padding: 12%;
        .icon {
            width: 22%;
            margin-bottom: 18px;
        }
        .title {
            margin-bottom: 19px;
            text-transform: uppercase;
        }
        .description {
            max-width: 93%;
            line-height: 1.5;
            font-size: .8em;
            margin-bottom: 50px;
        }
        .more-info {
            background-color: $title;
            padding: 8px 20px;
            border: 2px solid $title;
            border-radius: 50px;
            margin: 10px 0;
            transition: all .3s ease;
            &:hover {
                background-color: transparent;
                color: $title !important;
                cursor: pointer;
            }
        }
        &:nth-of-type(1) {
            background-color: $sedans-bg;
            border-radius: 12px 0 0 12px;
            .more-info {
                color: $sedans-bg;
            }
        }
        &:nth-of-type(2) {
            background-color: $suvs-bg;
            .more-info {
                color: $suvs-bg;
            }
        }
        &:nth-of-type(3) {
            background-color: $luxury-bg;
            border-radius: 0 12px 12px 0;
            .more-info {
                color: $luxury-bg;
            }
        }
    }
}





.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}





@media screen and (max-width: 480px) {
    container {
        max-width: 65%;
        margin: 1% auto;
        div {
            &:nth-of-type(1) {
                border-radius: 12px 12px 0 0;
            }
            &:nth-of-type(3) {
                border-radius: 0 0 12px 12px;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    container {
        max-width: 80%;
    }
}
